#portfolio {
    color:#007bff ;

}

.card {
  margin-top: 30px;
  float: left;
  width: 25%;
  padding: 20px 10px;
  height: 650px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #DFF09D;
}