h2 {
    color:#99B27F
}
.card-body{
    float: left;
}
body{
    background-color: #DFF09D;
}
/*Below is the CSS for the About Page*/
header {
    font-size: 60px;
    padding:50px;
}
#wrapper {
    padding-left: 60px;
    padding-top: 70px;
}
.col-9 {
  height: 655px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 200px;
  margin-top: 70px;
}

.col-md-7 {
    float:right
}
.backdrop{
    background-color: #99B27F;
}
.btn {
    background-color:#295E62;
}